<div class=" col-xs-12 col-md-4 col-lg-3">
    <div class="fm-card fm-card-col">
        <div class="fm-preview-box">
            {{#isImage}}
            <img src="{{path}}" class="" data-toggle="addFile" data-address="{{path}}" data-is-directory="false"
                alt=""> {{/isImage}}
        </div>


        <div class="fm-name-box content-title">
            <span class="item-fm-file" data-toggle="addFile" data-address="{{path}}" data-is-directory="false">{{name}}</span>
        </div>

        {{!--
        <div class="fm-detail-box dropdown"> --}} {{!--
            <button class="fm-detail-btn dropdown-toggle" type="button" id="dropdownMenu${loop.index}" data-toggle="dropdown" aria-haspopup="true"
                --}} {{!-- aria-expanded="false"> --}} {{!--
                <i class="material-icons">more_vert</i> --}} {{!-- </button> --}} {{!--
            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu${loop.index}">
                --}} {{!--
                <li> --}} {{!--
                    <a href="javascript:void(0)">delete</a> --}} {{!-- </li> --}} {{!-- </ul> --}} {{!-- </div> --}}
    </div>
</div>