<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="fm-card fm-card-col" data-toggle="backFolder" data-address="{{address}}">
        
        <div class="fm-preview-box" data-type="backspace"></div>

        <div class="fm-name-box content-title">
            <span class="item-fm-file" data-is-directory="true">بازگشت</span>
        </div>
    </div>
</div>