<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="fm-card fm-card-col" data-toggle="addFile" data-address="{{path}}">

        <div class="fm-preview-box" data-type="insert_drive_file">
            {{#isImage}}
            <img src="{{path}}" data-is-directory="false" alt=""> {{/isImage}}
        </div>


        <div class="fm-name-box content-title">
            <div class="flexbox flexbox-just-spacebetween flexbox-align-center">
                <span class="item-fm-file truncate" data-is-directory="false">{{name}}</span>
            </div>
        </div>

        {{!--
        <div class="fm-detail-box dropdown"> --}} {{!--
            <button class="fm-detail-btn dropdown-toggle" type="button" id="dropdownMenu${loop.index}" data-toggle="dropdown" aria-haspopup="true"
                --}} {{!-- aria-expanded="false"> --}} {{!--
                <i class="material-icons">more_vert</i> --}} {{!-- </button> --}} {{!--
            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu${loop.index}">
                --}} {{!--
                <li> --}} {{!--
                    <a href="javascript:void(0)">delete</a> --}} {{!-- </li> --}} {{!-- </ul> --}} {{!-- </div> --}}
    </div>
</div>