<!-- Modal -->
<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="{{id}}Label">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="flexbox flexbox-align-center flexbox-just-spacebetween">
                    <h4 class="modal-title" id="{{id}}Label">انتخاب فایل</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <input type="hidden" id="backPath" value="">
                <input type="hidden" id="nextPagekey" value="">
                <input type="hidden" id="path" value="">
                <div class="row fm-wrapper"></div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <label type="button" class="btn btn-primary" for="vaslapp-file-selector">آپلود فایل</label>
                        <button type="button" class="btn btn-default" data-dismiss="modal">خروج</button>
                        
                        <form class="hidden" id="form-vaslapp-file-uploader">
                            <input type="file" name="file[]" id="vaslapp-file-selector" multiple>
                            <input type="text" name="path" id="vaslapp-file-path" value="/">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>