.fm-card {
  direction: initial;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  &.fm-card-col {
    flex-direction: column;
  }
}

.fm-detail-box {
  flex: 1;
  max-width: 24px;
  margin: 0 0 0 8px;
}

.fm-detail-btn {
  background: transparent;
  border: none;
  color: #8F8F8F;
  padding: 0;
}

.fm-name-box {
  flex: 2;
  @include truncate();
  padding: 14px 0;
  direction: ltr;
}

.fm-card-col {
  .fm-name-box {
    flex: 1;
    display: inline-block;
    width: 100%;
    padding: 6px 16px 8px;
    text-align: center;
    cursor: pointer;
  }
}

.fm-preview-box {
  height: 100px;
  width: 100%;
  display: inline-block;
  background-color: #ccc;
  overflow: hidden;
  position: relative;
  &::before{
    content: 'insert_drive_file';
    font-family: 'Material Icons';
    font-size: 42px;
    position: absolute; 
    color: #999;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  img {
    position: relative;
    z-index: 100;
    max-width: 100%;
    height: auto;
    cursor: pointer;
    margin: auto;
  }
}

.fm-icon-box {
  flex: 1;
  background: #f5f5f5;
  border-radius: 4px 0 0 4px;
  max-width: 52px;
  padding: 14px;
  color: #8F8F8F;
  margin: 0 8px 0 0;
}